* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	background: linear-gradient(180deg, rgb(248, 100, 87), rgb(244, 91, 104));
	padding: 0;
	min-height: 100%;
	font-family: sans-serif;
}
body {
	overflow-y: scroll;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem 0;
}
.main-title {
	margin: 0 0 3rem 0;
	color: #fff;
	user-select: none;
}
.todo {
	border-radius: .3rem;
	background-color: rgb(244, 247, 252);
	padding: 0 1.5rem;
	width: 25rem;
	min-height: 32rem;
	user-select: none;
}
.weekday {
	padding-top: 3rem;
}
.date {
	padding-bottom: 2rem;
}
.weekday, .date {
	color: rgb(245, 123, 101);
	font-size: 1.4rem;
}
.input-container {
	margin-bottom: 2.3rem;
}
.input-field {
	outline-width: 1px;
	outline-color: rgba(0, 0, 255, .7);
	padding: .5rem 1rem;
	width: 78%;
	font-size: 1.2rem;
}
.input-field::placeholder {
	color: rgba(0, 0, 0, .25);
	font-style: italic;
}
.add-btn {
	margin-left: .5rem;
	padding: .5rem 1rem;
	font-size: 1rem;
}
.pending-items-container {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}
.pending-item {
	position: relative;
	margin-bottom: .5rem;
	background-color: rgb(224, 232, 244);
	padding: .5rem;
}
.pending-item label, .pending-item input[type="checkbox"] {
	zoom: 1.15;
}
.pending-item .delete-btn {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 2.5rem;
	height: 100%;
}
.show-delete-btn {
	display: block;
}
.output-container {
	display: flex;
	flex-direction: column;
}
.bottom-buttons-container {
	padding: 2rem 0;
	text-align: center;
}
.no-todos {
	text-align: center;
}
.no-todos__icon {
	margin-bottom: .7rem;
	font-size: 2rem;
}
.no-todos__text {
	font-weight: bold;
}
.show-item {
	display: block;
}
.hide-item {
	display: none;
}
.completed-tasks-label {
	margin: 1.5rem 0;
}
.completed-item {
	position: relative;
	margin-bottom: .5rem;
	background-color: rgb(255, 255, 255);
	padding: 1rem;
}
.completed-item input[type="checkbox"] {
	zoom: 1.15;
}
.completed-item label {
	text-decoration: line-through;
	color: gray;
	zoom: 1.15;
}
.show-hide-complete-btn, .clear-all-btn {
	border: 0;
	background-color: inherit;
	font-size: 1rem;
	font-weight: bold;
}
.show-hide-complete-btn:hover, .clear-all-btn:hover {
	color: rgba(0, 0, 0, .6);
}
